<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:700|Roboto+Mono|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="p4xmq.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script type="text/javascript" src="elements.js"></script>
    <script type="text/javascript" src="p4xmq.js"></script>
    <title>P4XMQ</title>
</head>

<body ng-controller="myController as Cntl" layout-padding>
    <h1 style="cursor: default;">
        <div class="title_main">P 4 X M Q</div>
        <div class="title_sub">- Parameters for XAS Measurement in Quick scan -</div>
    </h1>
    <h2 style="cursor: default;">Monochrometer</h2>
    <div layout="row" layout-align="start end" layout-margin>
        <md-input-container>
            <label>Plane</label>
            <md-select ng-model="Cntl.xtal" ng-change="Cntl.changeXtalPlane()">
                <md-option ng-value="x" ng-repeat="x in Cntl.xtals">{{x.name}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container ng-show="Cntl.isNotIntrinsicPlane">
            <label>d</label>
            <input id="other_d" type="number" step="0.00001" ng-model="Cntl.xtals[3].d" ng-change="Cntl.applyAbsEnergy()">
        </md-input-container>
        <p style="cursor: default;"> {{Cntl.isNotIntrinsicPlane?"":"d = "+Cntl.xtal.d}} &Aring;</p>
    </div>
    <h2 style="cursor: default;">Element</h2>
    <div layout="row" layout-align="start end" layout-margin>
        <md-input-container>
            <label>Element</label>
            <md-select ng-model="Cntl.element_name" ng-change="Cntl.applyEdges(Cntl.element_name)">
                <md-option ng-value="e" ng-repeat="e in Cntl.ElementNames">{{e}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Edge</label>
            <md-select ng-model="Cntl.edge" ng-change="Cntl.applyAbsEnergy()">
                <md-option ng-value="e" ng-repeat="e in Cntl.EdgeNames">{{e}}</md-option>
            </md-select>
        </md-input-container>
        <p style="cursor: default;">edge = {{Cntl.AbsEnergy | number:2}} eV ({{Cntl.energy2theta(Cntl.AbsEnergy) | number:5}} &deg;)</p>
    </div>
    <h2 style="cursor: default;">Parameters&nbsp;
            <md-button class="md-icon-button" aria-label="Reset to default" 
                        style="color: steelblue; background-color: white; margin: 0; padding: 0; width: 20px; height: 20px; min-width: 20px; min-height: 20px; line-height: 20px;" 
                        ng-click="Cntl.resetParams()">
                <md-icon md-font-icon="fa-solid fa-arrow-rotate-left" 
                        style="color: steelblue; font-size: 12px; width: 12px; height: 12px; min-height: 12px; display: inline-block; vertical-align: middle;"></md-icon>
            </md-button>
    </h2>
    <div layout="column" layout-align="space-around start" layout-margin>
        <!-- E_begin -->
        <div class="padded" md-whiteframe="1" 
            style="width: 540px; padding-top: 18px; padding-bottom: 9px; padding-left: 18px; padding-right: 18px;" 
            layout="row" layout-align="start end" layout-margin>
            <md-input-container>
                <label>E<sub>begin</sub></label>
                <input style="width: 100px;" keep-max-decimals="2" 
                        ng-model="Cntl.e_begin" ng-model-options="{ updateOn: 'blur default', debounce: { 'blur': 0, 'default': 500 } }" 
                        type="number" step="0.01" min="1000.00" ng-change="Cntl.updateE()" required>
            </md-input-container>
            <p style="cursor: default;">eV</p>
        </div><br/>
        <!-- E_end -->
        <div class="padded" md-whiteframe="1" 
            style="width: 540px; padding-top: 18px; padding-bottom: 9px; padding-left: 18px; padding-right: 18px;" 
            layout="row" layout-align="start end" layout-margin>
            <md-input-container>
                <label>E<sub>end</sub></label>
                <input style="width: 100px;" keep-max-decimals="2" 
                        ng-model="Cntl.e_end" ng-model-options="{ updateOn: 'blur default', debounce: { 'blur': 0, 'default': 500 } }" 
                        type="number" step="0.01" min="{{Cntl.e_begin+0.01}}" ng-change="Cntl.updateE()" required>
            </md-input-container>
            <p style="cursor: default;">eV &nbsp; </p>
            <md-input-container>
                <label>K<sub>end</sub></label>
                <input style="width: 100px;" keep-max-decimals="2" 
                        ng-model="Cntl.k_end" ng-model-options="{ updateOn: 'blur default', debounce: { 'blur': 0, 'default': 500 } }" 
                        type="number" step="0.1" min="0.1" ng-change="Cntl.updateK()" required>
            </md-input-container>
        </div><br/>
        <!-- dE -->
        <div class="padded" md-whiteframe="1" 
            style="width: 540px; padding-top: 18px; padding-bottom: 9px; padding-left: 18px; padding-right: 18px;" 
            layout="row" layout-align="start end" layout-margin>
            <md-input-container>
                <label>ΔE</label>
                <input style="width: 100px;" keep-max-decimals="5" 
                        ng-model="Cntl.step_for_quick" ng-model-options="{ updateOn: 'blur default', debounce: { 'blur': 0, 'default': 500 } }" 
                        type="number" step="0.00001" min="0.00003" ng-change="Cntl.checkStep4Q()" required>
            </md-input-container>
            <p style="cursor: default;">eV &nbsp; &nbsp; &nbsp; (Total {{Cntl.total_points | number:0}} points)</p>
            <p style="cursor: default; color:orangered;" ng-show="Cntl.warning_points">*** WARNING ***</p>
        </div><br/>
        <!-- Time -->
        <div class="padded" md-whiteframe="1" 
            style="width: 540px; padding-top: 18px; padding-bottom: 9px; padding-left: 18px; padding-right: 18px;" 
            layout="row" layout-align="start end" layout-margin>
            <md-input-container>
                <label>Exposure time</label>
                <input style="width: 100px;" 
                        ng-model="Cntl.time_for_quick" ng-model-options="{ updateOn: 'blur default', debounce: { 'blur': 0, 'default': 500 } }" 
                        type="number" step="1" min="1" ng-change="Cntl.checkDegPSec()" required>
            </md-input-container>
            <p style="cursor: default;">sec. &nbsp; &nbsp; &nbsp; (Speed {{Cntl.degpsec | number:4}} °/sec.)</p>
            <p style="cursor: default; color:orangered;" ng-show="Cntl.warning_dps">*** WARNING ***</p>
        </div>
    </div>
    <h2 style="cursor: default;">Export</h2>
    <div layout="row" layout-align="start end" layout-margin>
        <!-- <a class="download" id="download_old" href="#" download={{Cntl.fname_param}} ng-click="Cntl.downloadAsPFOld()">PF Old Format</a> -->
        <!-- <a class="download" ng-click="Cntl.openDialogForPFNew($event)">PF New Format</a> -->
        <a class="download" id="download_agenda" href="#" download={{Cntl.fname_agenda}} ng-click="Cntl.downloadAsSagaAgenda()">SAGA-LS Agenda Format</a>
    </div>
    <h2 style="cursor: default;">Import</h2>
    <div layout="row" layout-align="start end" layout-margin>
        <input type="file" id="upload_agenda" style="display: none" onchange="angular.element(this).scope().Cntl.importFromAgenda(event)">
        <a class="download" href="#" ng-click="Cntl.openDialogForAgenda()">SAGA-LS Agenda Format</a>
    </div>
    <md-divider ></md-divider>
    <footer>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="P4XMQ- Parameters for XAS Measurement in Quick scan -">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <p style="cursor: default;">&diams; Used the program &quot;<a href="http://www.ccn.yamanashi.ac.jp/~eijin/xanadu/readmexp.txt" target=”_blank”>XASparam</a>&quot; as a reference.<br/>
        &diams; Code licensed under <a href="" ng-click="Cntl.showLicenseDlg($event)">MIT license</a>.</p>
    </footer>
</body>
</html>
