<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif:700|Roboto+Mono|Open+Sans" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <link rel="stylesheet" type="text/css" href="p4xm.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script type="text/javascript" src="elements.js"></script>
        <script type="text/javascript" src="p4xm.js"></script>
        <title>P4XM</title>
    </head>
    <body ng-controller="myController as Cntl"><md-content md-theme="docs-dark" layout-padding>
        <h1>
            <div class="title_main">P 4 X M</div>
            <div class="title_sub">- Parameters for XAS Measurement -</div>
        </h1>
        <h2>Monochrometer</h2>
            <div layout="row" layout-align="start end" layout-margin>
                <md-input-container>
                    <label>Plane</label>
                    <md-select ng-model="Cntl.xtal"  ng-change="Cntl.changeXtalPlane()">
                        <md-option ng-value="x" ng-repeat="x in Cntl.xtals">{{x.name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-show="Cntl.isNotIntrinsicPlane">
                    <label>d</label>
                    <input id="other_d" type="number" step="0.00001" ng-model="Cntl.xtals[3].d" ng-change="Cntl.applyAbsEnergy()">
                </md-input-container>
                <p> {{Cntl.isNotIntrinsicPlane?"":"d = "+Cntl.xtal.d}} &Aring;</p>
            </div>
        <h2>Element</h2>
            <div layout="row" layout-align="start end" layout-margin>
                <md-input-container>
                    <label>Element</label>
                    <md-select ng-model="Cntl.element_name" ng-change="Cntl.applyEdges(Cntl.element_name)">
                        <md-option ng-value="e" ng-repeat="e in Cntl.ElementNames">{{e}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Edge</label>
                    <md-select ng-model="Cntl.edge" ng-change="Cntl.applyAbsEnergy()">
                        <md-option ng-value="e" ng-repeat="e in Cntl.EdgeNames">{{e}}</md-option>
                    </md-select>
                </md-input-container>
                <p>edge = {{Cntl.AbsEnergy | number:2}} eV ({{Cntl.energy2theta(Cntl.AbsEnergy) | number:5}} &deg;)</p>
            </div>
        <h2>Parameters</h2>
            <div layout="column" layout-align="space-around start" layout-margin>
                <md-input-container>
                    <label>Blocks</label>
                    <md-select ng-model="Cntl.block" ng-change="Cntl.changeBlock()">
                        <md-option ng-value="v" ng-repeat="v in Cntl.blocks">{{v}}</md-option>
                    </md-select>
                </md-input-container>
                <table class="table_01">
                    <thead>
                        <tr>
                            <th style="border-right: 1px solid #b9b9b9;">k [A<sup>-1</sup>]</th>
                            <th style="border-left: 1px solid #b9b9b9; border-right: 1px solid #b9b9b9;">E [eV]</th>
                            <th style="border-left: 1px solid #b9b9b9; border-right: 1px solid #b9b9b9;">θ [°]</th>
                            <th style="border-left: 1px solid #b9b9b9; border-right: 1px solid #b9b9b9;">Step [°]</th>
                            <th style="border-left: 1px solid #b9b9b9; border-right: 1px solid #b9b9b9;">
                                Num <input type="submit" value="&#xf021;" ng-model="Cntl.refresh" ng-click="Cntl.refreshDivs()">
                            </th>
                            <th style="border-left: 1px solid #b9b9b9;">Time [s]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2"></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.energies[0]" type="number" step="0.01" ng-change="Cntl.updateEnergy(0)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.thetas[0]" type="number" step="0.00001" ng-change="Cntl.updateTheta(0)"></md-input-container></td>
                            <td style="border: none; height: 15px"></td>
                            <td style="border: none; height: 15px"></td>
                            <td style="border: none; height: 15px"></td>
                        </tr>
                        <tr>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.steps[0]" type="number" step="0.00001" ng-change="Cntl.updateStep(0)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.divs[0]" type="number" ng-change="Cntl.updateDiv(0)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.exps[0]" type="number"></md-input-container></td>
                        </tr>
                        <tr>
                            <td rowspan="2"></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.energies[1]" type="number" step="0.01" ng-change="Cntl.updateEnergy(1)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.thetas[1]" type="number" step="0.00001" ng-change="Cntl.updateTheta(1)"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[1]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.steps[1]" type="number" step="0.00001" ng-change="Cntl.updateStep(1)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.divs[1]" type="number" ng-change="Cntl.updateDiv(1)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.exps[1]" type="number"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[1]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.ks[2]" type="number" step="0.00001" ng-change="Cntl.updateK(2)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.energies[2]" type="number" step="0.01" ng-change="Cntl.updateEnergy(2)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.thetas[2]" type="number" step="0.00001" ng-change="Cntl.updateTheta(2)"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[2]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.steps[2]" type="number" step="0.00001" ng-change="Cntl.updateStep(2)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.divs[2]" type="number" ng-change="Cntl.updateDiv(2)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.exps[2]" type="number"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[2]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.ks[3]" type="number" step="0.00001" ng-change="Cntl.updateK(3)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.energies[3]" type="number" step="0.01" ng-change="Cntl.updateEnergy(3)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.thetas[3]" type="number" step="0.00001" ng-change="Cntl.updateTheta(3)"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[3]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.steps[3]" type="number" step="0.00001" ng-change="Cntl.updateStep(3)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.divs[3]" type="number" ng-change="Cntl.updateDiv(3)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.exps[3]" type="number"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[3]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.ks[4]" type="number" step="0.00001" ng-change="Cntl.updateK(4)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.energies[4]" type="number" step="0.01" ng-change="Cntl.updateEnergy(4)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.thetas[4]" type="number" step="0.00001" ng-change="Cntl.updateTheta(4)"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[4]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.steps[4]" type="number" step="0.00001" ng-change="Cntl.updateStep(4)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.divs[4]" type="number" ng-change="Cntl.updateDiv(4)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.exps[4]" type="number"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[4]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.ks[5]" type="number" step="0.00001" ng-change="Cntl.updateK(5)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.energies[5]" type="number" step="0.01" ng-change="Cntl.updateEnergy(5)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.thetas[5]" type="number" step="0.00001" ng-change="Cntl.updateTheta(5)"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[5]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.steps[5]" type="number" step="0.00001" ng-change="Cntl.updateStep(5)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.divs[5]" type="number" ng-change="Cntl.updateDiv(5)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.exps[5]" type="number"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[5]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.ks[6]" type="number" step="0.00001" ng-change="Cntl.updateK(6)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.energies[6]" type="number" step="0.01" ng-change="Cntl.updateEnergy(6)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.thetas[6]" type="number" step="0.00001" ng-change="Cntl.updateTheta(6)"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[6]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.steps[6]" type="number" step="0.00001" ng-change="Cntl.updateStep(6)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.divs[6]" type="number" ng-change="Cntl.updateDiv(6)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.exps[6]" type="number"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[6]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.ks[7]" type="number" step="0.00001" ng-change="Cntl.updateK(7)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.energies[7]" type="number" step="0.01" ng-change="Cntl.updateEnergy(7)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.thetas[7]" type="number" step="0.00001" ng-change="Cntl.updateTheta(7)"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[7]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.steps[7]" type="number" step="0.00001" ng-change="Cntl.updateStep(7)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.divs[7]" type="number" ng-change="Cntl.updateDiv(7)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.exps[7]" type="number"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[7]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.ks[8]" type="number" step="0.00001" ng-change="Cntl.updateK(8)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.energies[8]" type="number" step="0.01" ng-change="Cntl.updateEnergy(8)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.thetas[8]" type="number" step="0.00001" ng-change="Cntl.updateTheta(8)"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[8]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.steps[8]" type="number" step="0.00001" ng-change="Cntl.updateStep(8)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.divs[8]" type="number" ng-change="Cntl.updateDiv(8)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.exps[8]" type="number"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[8]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.ks[9]" type="number" step="0.00001" ng-change="Cntl.updateK(9)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.energies[9]" type="number" step="0.01" ng-change="Cntl.updateEnergy(9)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.thetas[9]" type="number" step="0.00001" ng-change="Cntl.updateTheta(9)"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[9]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.steps[9]" type="number" step="0.00001" ng-change="Cntl.updateStep(9)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.divs[9]" type="number" ng-change="Cntl.updateDiv(9)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.exps[9]" type="number"></md-input-container></td>
                        </tr>
                        <tr ng-show="Cntl.block_shows[9]">
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.ks[10]" type="number" step="0.00001" ng-change="Cntl.updateK(10)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.energies[10]" type="number" step="0.01" ng-change="Cntl.updateEnergy(10)"></md-input-container></td>
                            <td rowspan="2"><md-input-container><input ng-model="Cntl.thetas[10]" type="number" step="0.00001" ng-change="Cntl.updateTheta(10)"></md-input-container></td>
                        </tr>
                        <tr>
                            <td style="border: none; height: 15px"></td>
                            <td style="border: none; height: 15px"></td>
                            <td style="border: none; height: 15px"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <h2>Download</h2>
            <div layout="row" layout-align="start end" layout-margin>
                <a class="download" id="download" href="#" download={{Cntl.fname}} ng-click="Cntl.downloadAsPFOld()">PF Old Format</a>
            </div>
        <md-divider></md-divider>
            <!--<p>
                xtals: {{Cntl.xtals}}<br/>
                xtal: {{Cntl.xtal}}<br/>
                block: {{Cntl.block}} {{Cntl.block_shows}} {{Cntl.block_prev}}<br/>
                k: {{Cntl.ks}}<br/>
                energy: {{Cntl.energies}}<br/>
                theta: {{Cntl.thetas}}<br/>
                steps: {{Cntl.steps}}<br/>
                divs: {{Cntl.divs}}<br/>
                exps: {{Cntl.exps}}
            </p>-->
    </md-content></body>
</html>
