<!DOCTYPE html>
<html lang=""  ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <!-- include AngularJS -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:700|Roboto+Mono|Open+Sans" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="samxam.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script type="text/javascript" src="victoreens.js"></script>
    <script type="text/javascript" src="samxam.js"></script>
    <!-- title -->
    <title>SAMXAM</title>
</head>

<body ng-controller="myController as Cntl" layout-padding>
    <h1>
        <div class="title_main">S A M X A M</div>
        <div class="title_sub">- Sample preparation for XAS measurement -</div>
    </h1>
    <h2>Sample&nbsp;&nbsp;(
        <md-input-container style="padding: 0px 2px 8px 2px;">
            <md-select ng-model="Cntl.sample" ng-change="Cntl.calcResult()">
                <md-option ng-value="e.Id" ng-repeat="e in Cntl.SampleType">{{e.Type}}</md-option>
            </md-select>
        </md-input-container>
    )</h2>
    <div layout="row" layout-align="start end" layout-margin ng-if="Cntl.sample==0"> <!-- Pellet -->
        <p>&phi; = </p>
        <md-input-container>
            <label>Diameter</label>
            <input type="number" step="1" ng-model="Cntl.Pellet_D" ng-change="Cntl.calcResult()">
        </md-input-container>
        <p> mm</p>
    </div>
    <div layout="row" layout-align="start end" layout-margin ng-if="Cntl.sample==0"> <!-- Pellet -->
        <md-input-container style="padding:0px 0px 8px 0px">
            <label>Medium</label>
            <md-select ng-model="Cntl.Pellet_Medium"  ng-change="Cntl.changePelletMedium()">
                <md-option ng-value="e.Id" ng-repeat="e in Cntl.PelletMediumType">{{e.Type}}</md-option>
            </md-select>
        </md-input-container>
        <div layout="row" layout-align="start end" layout-margin ng-if="Cntl.Pellet_Medium==1"> <!-- BN -->
            <md-input-container ng-if="Cntl.Pellet_Medium>0">
                <md-select ng-model="Cntl.Pellet_Medium_unit">
                    <md-option ng-value="e.Id" ng-repeat="e in Cntl.PelletMediumValueType">{{e.Type}}</md-option>
                </md-select>
            </md-input-container>
            <p>&nbsp;=&nbsp;</p>
            <md-input-container>
                <input type="number" step="0.1" ng-model="Cntl.Pellet_T" ng-change="Cntl.calcResult()">
            </md-input-container>
            <p ng-if="Cntl.Pellet_Medium_unit==0"> mm</p>
            <p ng-if="Cntl.Pellet_Medium_unit==0"> ( {{3.1416*(Cntl.Pellet_D/2)*(Cntl.Pellet_D/2)*Cntl.Pellet_T*2.20907 | number:2}} mg )</p>
            <p ng-if="Cntl.Pellet_Medium_unit==1"> mg</p>
        </div>
        <div layout="row" layout-align="start end" layout-margin ng-if="Cntl.Pellet_Medium==2"> <!-- Other... -->
            <p ng-if="Cntl.Pellet_Medium>0">Weight&nbsp;=&nbsp;</p>
            <md-input-container>
                <input type="number" step="0.1" ng-model="Cntl.Pellet_T" ng-change="Cntl.calcResult()">
            </md-input-container>
            <p> mg</p>
        </div>
    </div>
    <div layout="column" layout-align="start" layout-margin>
        <table class="table_pellet_medium" ng-if="Cntl.Pellet_Medium==2">
            <thead>
                <tr>
                    <th>Element</th><th>Atom</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in [0,1,2,3]">
                    <td><md-input-container>
                        <md-select ng-model="Cntl.Pellet_Medium_Z[i]" ng-change="Cntl.calcResult()">
                            <md-option ng-value="e.Z" ng-repeat="e in Cntl.ElementNamesZ">{{e.Name}}</md-option>
                        </md-select>
                    </md-input-container></td>
                    <td><md-input-container>
                        <input ng-model="Cntl.Pellet_Medium_Ratio[i]" type="number" step="1" ng-change="Cntl.calcResult()">
                    </md-input-container></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div layout="row" layout-align="start end" layout-margin ng-if="Cntl.sample==1"> <!-- Foil -->
        <p>&rho; = </p>
        <md-input-container>
            <label>Density</label>
            <input type="number" step="0.01" ng-model="Cntl.Foil_R" ng-change="Cntl.calcResult()">
        </md-input-container>
        <p> g/cm<sup>3</sup></p>
    </div>
    <h2>Components &amp; Results</h2>
        <div layout="row" layout-align="none start" layout-margin>
            <md-radio-group ng-model="Cntl.targetId" ng-change="Cntl.calcResult()">
            <table class="table_components">
                <thead>
                    <tr>
                        <th>Target</th>
                        <th>Element</th>
                        <th>
                            <md-input-container>
                                <md-select ng-model="Cntl.ratio" ng-change="Cntl.calcResult()">
                                    <md-option ng-value="e.Id" ng-repeat="e in Cntl.RatioTypes">{{e.Type}}</md-option>
                                </md-select>
                            </md-input-container>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr> <!-- 0 -->
                        <td class="target" layout="row" layout-align="start end">
                            <md-radio-button value="0" class="md-primary"></md-radio-button>
                            <md-input-container style="padding:0px 0px 13px 0px" ng-if="Cntl.targetId==0">
                                <md-select class="edge" ng-model="Cntl.edge" ng-change="Cntl.calcResult()">
                                    <md-option ng-value="e.Id" ng-repeat="e in Cntl.Edges">{{e.Name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container>
                                <md-select ng-model="Cntl.Z[0]" ng-change="Cntl.changeComponentsElement(0)">
                                    <md-option ng-value="e.Z" ng-disabled="e.Z==0" ng-repeat="e in Cntl.ElementNamesZ">{{e.Name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container>
                                <input ng-model="Cntl.Ratio[0]" type="number" step={{Cntl.ratio_step}} ng-change="Cntl.calcResult()">
                            </md-input-container>
                        </td>
                    </tr>
                    <tr> <!-- 1 -->
                        <td class="target" layout="row" layout-align="start end">
                            <md-radio-button value="1" class="md-primary" ng-disabled="Cntl.Z[1]==0"></md-radio-button>
                            <md-input-container style="padding:0px 0px 13px 0px" ng-if="Cntl.targetId==1">
                                <md-select class="edge" ng-model="Cntl.edge" ng-change="Cntl.calcResult()">
                                    <md-option ng-value="e.Id" ng-repeat="e in Cntl.Edges">{{e.Name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container>
                                <md-select ng-model="Cntl.Z[1]" ng-change="Cntl.changeComponentsElement(1)">
                                    <md-option ng-value="e.Z" ng-disabled="Cntl.targetId==1&&e.Z==0" ng-repeat="e in Cntl.ElementNamesZ">{{e.Name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container>
                                <input ng-model="Cntl.Ratio[1]" type="number" step={{Cntl.ratio_step}} ng-change="Cntl.calcResult()">
                            </md-input-container>
                        </td>
                    </tr>
                    <tr ng-repeat="i in [2,3,4,5,6,7,8,9]" ng-if="Cntl.Z[i-1]>0"> <!-- 2...9 -->
                        <td class="target" layout="row" layout-align="start end">
                            <md-radio-button value={{i}} class="md-primary" ng-disabled="Cntl.Z[i]==0"></md-radio-button>
                            <md-input-container style="padding:0px 0px 13px 0px" ng-if="Cntl.targetId==i">
                                <md-select class="edge" ng-model="Cntl.edge" ng-change="Cntl.calcResult()">
                                    <md-option ng-value="e.Id" ng-repeat="e in Cntl.Edges">{{e.Name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container>
                                <md-select ng-model="Cntl.Z[i]" ng-change="Cntl.changeComponentsElement(i)">
                                    <md-option ng-value="e.Z" ng-disabled="Cntl.targetId==i&&e.Z==0" ng-repeat="e in Cntl.ElementNamesZ">{{e.Name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container>
                                <input ng-model="Cntl.Ratio[i]" type="number" step={{Cntl.ratio_step}} ng-change="Cntl.calcResult()">
                            </md-input-container>
                        </td>
                    </tr>
                </tbody>
            </table>
            </md-radio-group>
            <table class="table_results" ng-if="Cntl.sample==0||Cntl.sample==1">
                <thead><tr>
                    <th>&mu;t<sub>H</sub></th>
                    <th>&mu;t<sub>L</sub></th>
                    <th>&Delta;&mu;t</th>
                    <th><span ng-if="Cntl.sample==0">Weight</span><span ng-if="Cntl.sample==1">Thickness</span></th>
                </tr></thead>
                <tbody>
                    <tr>
                        <td style="font-weight:bold">{{Cntl.MuT_H_4 | number:3}}</td>
                        <td>{{Cntl.MuT_L_4 | number:3}}</td>
                        <td>{{Cntl.dMuT_4 | number:3}}</td>
                        <td>{{Cntl.Res_4 | number:2}} <span ng-if="Cntl.sample==0">mg</span><span ng-if="Cntl.sample==1">&mu;m</span></td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">{{Cntl.MuT_H_2 | number:3}}</td>
                        <td>{{Cntl.MuT_L_2 | number:3}}</td>
                        <td>{{Cntl.dMuT_2 | number:3}}</td>
                        <td>{{Cntl.Res_2 | number:2}} <span ng-if="Cntl.sample==0">mg</span><span ng-if="Cntl.sample==1">&mu;m</span></td>
                    </tr>
                    <tr>
                        <td>{{Cntl.MuT_H_1 | number:3}}</td>
                        <td>{{Cntl.MuT_L_1 | number:3}}</td>
                        <td style="font-weight:bold">{{Cntl.dMuT_1 | number:3}}</td>
                        <td>{{Cntl.Res_1 | number:2}} <span ng-if="Cntl.sample==0">mg</span><span ng-if="Cntl.sample==1">&mu;m</span></td>
                    </tr>
                    <tr style="border-top:3px double #b9b9b9">
                        <td>{{Cntl.MuT_H_o | number:3}}</td>
                        <td>{{Cntl.MuT_L_o | number:3}}</td>
                        <td>{{Cntl.dMuT_o | number:3}}</td>
                        <td style="font-weight:bold">
                            <md-input-container>
                                <input type="number" step="0.01" style="width:60px" ng-model="Cntl.Res_o" ng-change="Cntl.calcResult()">
                            </md-input-container>
                            <span ng-if="Cntl.sample==0"> mg</span><span ng-if="Cntl.sample==1"> &mu;m</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <md-divider ></md-divider>
    <p>Weight: {{Cntl.Weight}}</p>
    <footer>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="SAMXAM - Sample preparation for XAS measurement -">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <p>&diams; Code licensed under <a href="" ng-click="Cntl.showLicenseDlg($event)">MIT license</a>.</p>
        <p>&diams; &quot;Mass attenuation coefficients&quot; of each elements were derived by the data from <a href="http://www.sasakiken.net/abcoeff/abcoeff2.html" target="_blank">here</a> and <a href="http://www.sciencedirect.com/science/article/pii/S0092640X83710132" target="_blank">here</a>.</p>
    </footer>
</body>
</html>
