<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <script src="http://cdn.jsdelivr.net/angularjs/1.5.5/angular.min.js"></script>
        <script type="text/javascript" src="elements.js"></script>
        <script type="text/javascript" src="xasparam.js"></script>
        <title>Make Parameters for XAS Measurement</title>
    </head>
    <body ng-controller="myController as Cntl">
        <h1>Monochrometer</h1>
            <select ng-model="Cntl.xtal" ng-options="x.name for x in Cntl.xtals"></select>
            <p>d = {{Cntl.xtal.d}}</p>
        <h1>Element</h1>
            <select ng-model="Cntl.element_name" ng-options="e for e in Cntl.ElementNames" ng-change="Cntl.applyEdges(Cntl.element_name)"></select>
            <select ng-model="Cntl.edge" ng-options="e for e in Cntl.EdgeNames" ng-change="Cntl.applyAbsEnergy()"></select>
            <p>edge = {{Cntl.element_name}} - {{Cntl.edge}} ({{Cntl.AbsEnergy | number:2}} eV)</p>
    </body>
</html>
